.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: white;
}

ul.pagination li.active {
    background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: blue;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
}

.header_menu {
    height: 30px;
    width: 12.5%;
    font-weight: bolder;
    font-size: 16px;
    color: black;
    border-radius: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.menu_down_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 12.5%;
    font-weight: bolder;
    font-size: 16px;
    color: black;
    border-radius: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.menu_down_none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 12.5%;
    font-weight: bolder;
    font-size: 16px;
    color: black;
    border-radius: 0;
    text-decoration: none;
    text-align: center;
}

.menu_row {
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 0px
}

.footer_font1 {
    color: white;
    font-size: 18px;
}

.footer_font2 {
    color: white;
    font-size: 16px;
    margin: 0px 0px 3px 0px;
}

.footer_font3 {
    color: #32C0EB;
    font-size: 28px;
    font-weight: bolder;
    margin: 0px 0px 6px 20px;
}

.left_top_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE9B7;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
}

.left_down_menu {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    border-radius: 0;
    text-decoration: none;
    padding: 0px 0px 0px 20px;
    border-bottom: 2px solid black;
}

.main_header_text {
    display: flex;
    align-items: center;
    width: 20%;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
}

.main_header_path_text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    height: 60px;
}

.hello_page_main_text1 {
    font-size: 18px;
    font-weight: bolder;
}

.hello_page_main_text2 {
    font-size: 16px;
    padding: 5px 0px 0px 0px;
}

.hello_page_main_text3 {
    font-size: 24px;
    font-weight: bolder;
    padding: 0px 0px 0px 20px;
}

.history_page_main_row1 {
    width: 10%;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 0px 0px 0px;
}

.history_page_main_row2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 0px 10px 0px;
}

.history_page_main_row3 {
    width: 8%;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px 0px 0px 0px;
}

.history_page_main_row4 {
    width: 92%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    background: #D9D9D9;
    font-size: 14px;
}

.use_guide_page_main_row1 {
    font-size: 16px;
    font-weight: bolder;
    padding: 0px 0px 0px 10px;
}

.use_guide_page_main_row2 {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin: 15px 0px 0px 0px;
    padding: 5px 0px 5px 10px;
    background: #D9D9D9;
    font-size: 14px;
}

.use_guide_page_main_row3 {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 0px 0px;
}

.volunteer_page_main_row1 {
    font-size: 16px;
    font-weight: bolder;
    padding: 0px 0px 0px 10px;
}

.volunteer_page_main_row2 {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin: 15px 0px 0px 0px;
    padding: 5px 0px 5px 10px;
    background: #D9D9D9;
    font-size: 14px;
}

.volunteer_page_main_row3 {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 0px 0px;
}

.place_page_main_row1 {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 0px 0px;
}

.place_page_main_row2 {
    font-size: 16px;
    font-weight: bolder;
    padding: 0px 0px 0px 10px;
}

.place_page_main_row3 {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    padding: 5px 0px 5px 10px;
    background: #D9D9D9;
    font-size: 14px;
}

.place_page_main_row4 {
    padding: 10px 0px 0px 0px;
}

.place_page_main_row5 {
    width: 600px;
    padding: 0px 0px 0px 30px;
}

.place_page_main_row6 {
    height: 400px;
    padding: 0px 0px 0px 30px;
}

.place_page_main_row7 {
    width: 300px;
    padding: 0px 0px 0px 30px;
}

.notice_page_main_row1 {
    font-size: 16px;
}

.notice_page_main_row2 {
    color: red;
    font-size: 16px;
    padding: 0px 0px 0px 5px;
}

.main_link_row {
    width: 100%;
    color: black;
    border-radius: 0;
    text-decoration: none;
}

.notice_detail_page_main_row1 {
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 0px 0px 20px;
}

.notice_detail_page_main_row2 {
    font-size: 16px;
    padding: 10px 0px 10px 20px;
}